*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: #86a88b;
    color: rgb(255, 255, 255);
    display: flex ;
    justify-content: space-around;
}

.cabeçalho-imagem{
    width: 200px;;
    margin: 40px;
}

.ivaiporã-titulo{
color: rgb(109, 110, 39);
}


.tamanho-imagem1{
    width: 300px;
    margin: 40px;
}

.tamanho-imagem2{
    width: 300px;
    margin: 40px;
}

.tamanho-imagem3{
    width: 300px;
    margin: 40px;
}

.tamanho-imagem4{
    width: 300px;
    margin: 40px;
}

footer{
    background-color:#86a88b ;
    color: white;
}

.footer-img{
    width: 200px;;
    margin: 80px;;
}